In [ ]:
##task1:create a panda series with list,tuple and dict with atleast ten values
## task2 : create pandas dataframe with column names cricketer,role,runs,wickets must have 15 entries and
##do attributes and statistical analysis

In [7]:
## task 1:
import pandas as pd
list1=[123,456,789,112,113,445,667,443,413,116]
lst=pd.Series(list1)
lst

0    123
1    456
2    789
3    112
4    113
5    445
6    667
7    443
8    413
9    116
dtype: int64

In [8]:
lst.size

10

In [9]:
lst.shape

(10,)

In [10]:
lst.ndim

1

In [11]:
lst.dtypes

dtype('int64')

In [12]:
lst.nbytes

80

In [20]:
type(lst)

pandas.core.series.Series

In [13]:
tpl1=(1000,2000,3000,4000,5000,6000,7000,8000,9000,1100)
tpl=pd.Series(tpl1)
tpl

0    1000
1    2000
2    3000
3    4000
4    5000
5    6000
6    7000
7    8000
8    9000
9    1100
dtype: int64

In [14]:
tpl.size

10

In [15]:
tpl.shape

(10,)

In [16]:
tpl.ndim

1

In [17]:
tpl.dtypes

dtype('int64')

In [18]:
tpl.nbytes

80

In [19]:
type(tpl)

pandas.core.series.Series

In [21]:
dict1={'shyam':50,'ram':54,'bheem':60,'teja':35,'pooja':76,'mahesh':65,'rakesh':45,'uday':66,'ravi':54,'vishnu':60,'shiva':90}
dic=pd.Series(dict1)
dic

shyam     50
ram       54
bheem     60
teja      35
pooja     76
mahesh    65
rakesh    45
uday      66
ravi      54
vishnu    60
shiva     90
dtype: int64

In [22]:
dic.shape

(11,)

In [23]:
dic.size

11

In [24]:
dic.ndim

1

In [25]:
dic.nbytes

88

In [26]:
dic.dtypes

dtype('int64')

In [27]:
type(dic)

pandas.core.series.Series

In [28]:
# task2
# create pandas dataframe with column names cricketer,role,runs,wickets must have 15 entries and
#do attributes and statistical analysis

In [35]:
players=[
        ["viratkohli","batsmen",25322,12],
        ["msdhoni","batsmen",17266,5],
        ["rohitsharma","batsmen",17057,0],
        ["yuvaraj singh","allrounder",11798,184],
        ["ravindra jadeja","allrounder",20684,502],
        ["sachin tendulkar","batsmen",34357,15],
        ["shikhar dhawan","batsmen",10867,0],
        ["gambhir","batsmen",10324,0],
        ["vvs laxman","batsmen",111156,0],
        ["dravid","batsmen",24208,0],
        ["v.sehwag","batsmen",17253,0],
        ["s ganguly","batsmen",18575,0],
        ["sunil gavaskar","batsmen",13214,0],
        ["m azharuddin","batsmen",15593,0],
        ["rishabh pant","batsmen",6291,0]
]
details=pd.DataFrame(players,columns=["cricketername","role","runs","wickets"])
details

       cricketername        role    runs  wickets
0         viratkohli     batsmen   25322       12
1            msdhoni     batsmen   17266        5
2        rohitsharma     batsmen   17057        0
3      yuvaraj singh  allrounder   11798      184
4    ravindra jadeja  allrounder   20684      502
5   sachin tendulkar     batsmen   34357       15
6     shikhar dhawan     batsmen   10867        0
7            gambhir     batsmen   10324        0
8         vvs laxman     batsmen  111156        0
9             dravid     batsmen   24208        0
10          v.sehwag     batsmen   17253        0
11         s ganguly     batsmen   18575        0
12    sunil gavaskar     batsmen   13214        0
13      m azharuddin     batsmen   15593        0
14      rishabh pant     batsmen    6291        0

In [36]:
details.shape

(15, 4)

In [37]:
details.size

60

In [38]:
details.ndim

2

In [39]:
details.dtypes

cricketername    object
role             object
runs              int64
wickets           int64
dtype: object

In [40]:
type(details)

pandas.core.frame.DataFrame

In [43]:
details.head()

     cricketername        role   runs  wickets
0       viratkohli     batsmen  25322       12
1          msdhoni     batsmen  17266        5
2      rohitsharma     batsmen  17057        0
3    yuvaraj singh  allrounder  11798      184
4  ravindra jadeja  allrounder  20684      502

In [44]:
details.tail()

     cricketername     role   runs  wickets
10        v.sehwag  batsmen  17253        0
11       s ganguly  batsmen  18575        0
12  sunil gavaskar  batsmen  13214        0
13    m azharuddin  batsmen  15593        0
14    rishabh pant  batsmen   6291        0

In [45]:
details.memory_usage()

Index            128
cricketername    120
role             120
runs             120
wickets          120
dtype: int64

In [46]:
details.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   cricketername  15 non-null     object
 1   role           15 non-null     object
 2   runs           15 non-null     int64
 3   wickets        15 non-null     int64
dtypes: int64(2), object(2)
memory usage: 608.0+ bytes

In [49]:
details.describe()

                runs     wickets
count      15.000000   15.000000
mean    23597.666667   47.866667
std     25201.078125  134.133658
min      6291.000000    0.000000
25%     12506.000000    0.000000
50%     17253.000000    0.000000
75%     22446.000000    8.500000
max    111156.000000  502.000000

In [50]:
details.value_counts()

cricketername     role        runs    wickets
dravid            batsmen     24208   0          1
gambhir           batsmen     10324   0          1
m azharuddin      batsmen     15593   0          1
msdhoni           batsmen     17266   5          1
ravindra jadeja   allrounder  20684   502        1
rishabh pant      batsmen     6291    0          1
rohitsharma       batsmen     17057   0          1
s ganguly         batsmen     18575   0          1
sachin tendulkar  batsmen     34357   15         1
shikhar dhawan    batsmen     10867   0          1
sunil gavaskar    batsmen     13214   0          1
v.sehwag          batsmen     17253   0          1
viratkohli        batsmen     25322   12         1
vvs laxman        batsmen     111156  0          1
yuvaraj singh     allrounder  11798   184        1
dtype: int64

In [59]:
details['runs'].mean()

23597.666666666668

In [57]:
details['runs'].median()

17253.0

In [58]:
details["runs"].mode()

0       6291
1      10324
2      10867
3      11798
4      13214
5      15593
6      17057
7      17253
8      17266
9      18575
10     20684
11     24208
12     25322
13     34357
14    111156
Name: runs, dtype: int64

In [60]:
details['runs'].kurtosis()

12.298593570769135

In [61]:
details['runs'].skew()

3.3920174612963487

In [62]:
details['runs'].max()

111156

In [63]:
details['runs'].min()

6291

In [64]:
details.transpose()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
cricketername,viratkohli,msdhoni,rohitsharma,yuvaraj singh,ravindra jadeja,sachin tendulkar,shikhar dhawan,gambhir,vvs laxman,dravid,v.sehwag,s ganguly,sunil gavaskar,m azharuddin,rishabh pant
role,batsmen,batsmen,batsmen,allrounder,allrounder,batsmen,batsmen,batsmen,batsmen,batsmen,batsmen,batsmen,batsmen,batsmen,batsmen
runs,25322,17266,17057,11798,20684,34357,10867,10324,111156,24208,17253,18575,13214,15593,6291
wickets,12,5,0,184,502,15,0,0,0,0,0,0,0,0,0